name: scp files
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: sand-moon.space
        username: root
        password : ${{ secrets.CENTOSSSH }}
        source: "index.html,textfiles/*"
        target: "/var/www/html"
